*{
    margin: 0;
    padding: 0;
}
nav{
    background-color:black;
    color: white;
    padding: 10px;
    display: flex;
    
}
.brands{

    border-right:  1px solid white;
    padding-right: 50px;
}
#b1{
    
    padding-right: 1000px;
    display: inline-block;
}
.b2{
    padding-right: 30px;
    border-right:1px solid white;
}



